.videoloop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.border-color{
    border-top:1px solid lightsalmon;
}

.content:hover{
    text-decoration: underline;
}

/* .salmon{
    border-color: lightsalmon !important;
} */

.salmon:hover{
    color: #3b2826 !important;
    background-color: lightsalmon !important;
    border-color: lightsalmon !important;
}

.video-underline:hover{
    text-decoration: underline solid black 2px;
}